<div class='container' id='reset-password-form'>
  <% if @user.present? %>
    <h1>Please enter your new password: </h1>
    <%= form_tag api_v1_reset_password_path, class: 'form-horizontal' do %>
      <%= hidden_field_tag :email, @user.email %>
      <%= hidden_field_tag :reset_password_token, params[:reset_password_token] %>
      <div class='form-group'>
        <%= label_tag :new_password, nil, class: 'col-sm-2 control-label-2' %>
        <div class='col-sm-5'>
          <%= password_field_tag :new_password, nil, class: 'form-control', placeholder: 'Enter your new password', id: 'new-password', required: true %>
        </div>
      </div>
      <div class='form-group'>
        <%= label_tag :new_password_confirmation, nil, class: 'col-sm-2 control-label-2' %>
        <div class='col-sm-5'>
          <%= password_field_tag :new_password_confirmation, nil, class: 'form-control', placeholder: 'Please re-enter your new password', id: 'new-password-confirmation', required: true %>
        </div>
        <span id='passwordHelpBlock' class='help-block hidden'>Passwords do not match</span>
      </div>
      <div class='form-group'>
         <div class='col-sm-offset-2 col-sm-5'>
           <button type='submit' class='btn btn-primary' id='reset-password-submit'>Reset Password</button>
         </div>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-danger" role="alert">
      Sorry, the resset password token isn't valid or has expired.
    </div>
  <% end %>
</div>
