<% @dishes.each do |dish| %>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hover_outr no_padding_left">
        <figure class="effect-lily">
          <div class="dish_top" style='height: 360px;' onclick="window.location.href='<%= dish_path(dish) %>'">
            <%= image_tag(dish.dish_image(:original), class: 'dish_bk_img scale', alt: dish.name, 'data-scale' => "best-fill", 'data-align' => "center") %>
            <div class="dish_overlay"></div>
            <div class="rating">
              <%= image_tag('HEART.png')%><span><%= dish.average_rating %></span>
              <p class="votes"><%= pluralize dish.votes, 'vote' %></p>
            </div>
            <figcaption>
              <div>
                <h2><%= dish.name %></h2>
                <p>
                    <span style="font-size:15px; float: left;">
                      <%= link_to dish.restaurant.name, restaurant_path(dish.restaurant) %>
                    </span>
                  <span class='rst_price_lrg'>$<%= dish.price %></span>
                </p>
              </div>
            </figcaption>
          </div>
          <div class="dish_btm">
            <ul>
              <!--<li> Now open</li>-->
              <li><%= link_to dish.restaurant.address, "http://maps.google.com/?q=#{dish.restaurant.address}" ,:target => '_blank'%></li>
            </ul>
          </div>
        </figure>
    </div>
<% end %>
<script type="text/javascript">
    var scrollPosition;
    $("#search_list_container").animate({scrollTop: localStorage.getItem("scrollPosition")});
   
    $("#search_list_container").scroll(function (event) {
      scrollPosition = $("#search_list_container").scrollTop();
    });

    $(".hover_outr").on("click", function(){
        localStorage.setItem("scrollPosition", scrollPosition);
    })

    $(window).load(function(e) {
       localStorage.setItem("scrollPosition", null);
    });
    $("img.scale").imageScale();
</script>