<% if @dishes.empty? %>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hover_outr no_padding_left no_padding_right">
    <figure class="effect-lily">
      <h3 style="text-align: center;">No result found</h3>
    </figure>
  </div>
<% else %>
  <% @dishes.each do |dish| %>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hover_outr no_padding_left no_padding_right">
      <figure class="effect-lily">
        <a href="<%= dish_path(dish) %>">
          <div class="dish_top" style="height: 360px;">
            <%= image_tag(dish.dish_image(:original), class: 'dish_bk_img scale', alt: dish.name, 'data-scale' => "best-fill", 'data-align' => "center") %>
            <div class="dish_overlay"></div>
            <div class="rating"> <%= image_tag('HEART.png')%> <span><%= dish.average_rating %></span> <p class="votes"><%= pluralize dish.votes, 'vote' %></p></div>
            <figcaption>
              <div>
                <h2><%= dish.name %></h2>
                <p><span style="font-size:12px; float: left;"><%= dish.restaurant.name %></span><span class='rst_price_lrg'>$<%= dish.price %></span></p>
              </div>
            </figcaption>
          </div>
        </a>
      </figure>
    </div>
  <% end %>
<% end %>
<script type="text/javascript">
    $(function() {
        $("img.scale").imageScale();
    });
</script>